@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --navyblue: #03045E;
    --darkblue: #023E8A;
    --starblue: #0077B6;
    --dodgerblue: dodgerblue;
    --bluegreen: #0096C7;
    --skyblue: #48CAE4;
    --powderblue: #CAF0F8;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;

    background: var(--starblue);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: 60%;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--white);
}

.card {
    width: 40%;
    height: 40%;
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    
    font-family: "Montserrat", sans-serif;
        
    border-radius: 15px;
    
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
    color: var(--white);
    background: var(--starblue);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.card-front {
    display: flex;
    flex-direction: column;
}

.card-number {
    font-size: 32px;
    font-weight: 500;

    padding-top: 60px;
}

.card-holder-name {
    font-size: 18px;

    padding-top: 20px;
}

.card-date {
    align-self: flex-end;

    padding-top: 20px;
    padding-right: 60px;
}

.card-form {
    display: flex;
    flex-direction: column;

    padding-top: 20px;
}

.card-form span {
    display: flex;
    flex-direction: row;
}

.card-form input {
    padding: 10px;
    margin: 10px;

    font-size: 15px;

    border: 0;
    border-bottom: 1px solid grey;
}

.card-form button {
    border: 0;
    border-radius: 5px;

    width: 50%;

    font-size: 20px;
    padding: 20px;

    margin-top: 10px;

    align-self: center;

    color: var(--white);
    background: var(--starblue);

    cursor: pointer;
}

.card-form button:hover {
    background: var(--dodgerblue);
}

.card-back {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 85%;
    height: 70%;
    
    transform: rotateX(180deg);
}

.card-cvv {
    text-align: center;
    font-size: 20px;

    padding: 10px;

    border-radius: 3px;
    border: 1px solid var(--white);
}

.flipcard {
    transform: rotateX(180deg);
}

.card-form input:focus {
    outline: 0;
}

.card-number-input::-webkit-outer-spin-button,
.card-number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.card-number-input[type=number] {
    -moz-appearance: textfield;
}